.home {
  padding: 2rem;
  text-align: center;
  background-color: rgb(255, 238, 244);
}

.home-title {
  color: #e60023;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.home-description {
  color: #333;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

